[submodule "external/spdlog"]
    path = external/spdlog
    url = git://github.com/gabime/spdlog.git
[submodule "external/ThreadPool"]
    path = external/ThreadPool
    url = git://github.com/progschj/ThreadPool.git
[submodule "external/cmark"]
    path = external/cmark
    url = git://github.com/jgm/cmark.git
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://github.com/eidheim/tiny-process-library
