[submodule "external/ThreadPool"]
    path = external/ThreadPool
    url = https://github.com/progschj/ThreadPool.git
[submodule "external/cmark"]
    path = external/cmark
    url = https://github.com/github/cmark.git
[submodule "external/cppast"]
    path = external/cppast
    url = https://github.com/foonathan/cppast.git
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/catchorg/Catch2.git
